html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  p, a, label, input, button {
    @apply font-mono;
  }
  button {
    @apply uppercase;
  }
  li, button {
    @apply p-2 border-2;
  }
  button {
    @apply border-2;
  }
  .responsive-div {
    @apply w-full md:w-9/12 lg:w-7/12 xl:w-6/12  2xl:w-4/12;
  }
  form label, form input {
    @apply text-3xl p-4;
  }
  .fancy-input {
    @apply grid grid-cols-1;
  }
  /* .fancy-input label {
    @apply text-5xl;
  }
  .fancy-input input {
    
  } */
}